<div class="panel panel-default box-news">
    <div class="panel-heading">
        <a href="@Url.Content("~/tu-van/nhung-cau-hoi-thuong-gap-551")"><i class="fa fa-comments-o" aria-hidden="true"></i> Tư vấn</a>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
               @Html.Raw(ViewBag.CONTENT)
            </div>
        </div>
    </div>
</div>