@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Trang chủ quản trị
}

@*<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript"></script>

<input id="xFilePath" name="FilePath" type="text" class="input-block-level" />
<input type="button" value="Browse Server" onclick="BrowseServer('SetFileField');" class="controls" />

<textarea id="editor1" name="editor1" cols="80" rows="10">
    <p>Hello <strong>CKEditor</strong></p>
</textarea>
<script>
    CKEDITOR.replace('editor1');
</script>*@   